#fname,#email,#website{width: 520px;
height: 40px;}
#mob,#land{width: 250px;
height: 40px;
}
#line{margin-left: 224px;}
#land{margin-left: 10px;}
textarea{width: 520px;
height:110px ;}
form{width: 680px;
padding-left: 20px;
padding-top: 20px;
border: 0.5px solid;
}
#button{width: 120px;
height: 35px;
margin-top: 20px;
margin-right: 30px;
float: right;
background-color: #3b8e21;
border: 0px solid;}
input{margin-top: 5px;
margin-bottom: 10px;}